

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/EditOneLife
gameSource/animations
gameSource/categories
gameSource/dataVersionNumber.txt
gameSource/ground
gameSource/groundTileCache
gameSource/log.txt
gameSource/music
gameSource/objects
gameSource/OneLife
gameSource/overlays
gameSource/recordedGames/*
gameSource/reverbCache
gameSource/scenes
gameSource/screenShots/*
gameSource/settings/accountKey.ini
gameSource/settings/countingOnVsync.ini
gameSource/settings/email.ini
gameSource/settings/fovDefault.ini
gameSource/settings/fovMax.ini
gameSource/settings/fovScale.ini
gameSource/settings/fovScaleHUD.ini
gameSource/settings/hudDrawMode.ini
gameSource/settings/loginSuccess.ini
gameSource/settings/targetFrameRate.ini
gameSource/sprites
gameSource/sounds
gameSource/testUser/*
gameSource/testUser2/*
gameSource/transitions

server/biomeRandSeed.txt
server/curseLog
server/curseSave.txt
server/dataVersionNumber.txt
server/eveRadius.txt
server/familyDataLog.txt
server/mapChangeLogs
server/mapDummyRecall.txt
server/OneLifeServer
server/serverCodeVersionNumber.txt
server/tutorialMaps
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/objects
server/transitions